<ion-view title="Feedback" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="feedback-form4" class="list">
      <label class="item item-input" id="feedback-input7">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="feedback-textarea1">
        <span class="input-label">Feedback/Suggestion</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>