<ion-view title="Sample Assessment" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="sampleAssessment-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Read these statements.</p>

      <p style="color:#000000;">
        <strong>Statement 1</strong>
      </p>

      <p style="color:#000000;">The
        <strong>onerous</strong> summer heat made practice difficult for the football team.</p>

      <p style="color:#000000;">
        <strong>Statement 2</strong>
      </p>

      <p style="color:#000000;">Though hammering was
        <strong>onerous</strong> work, the carpenter took solace in the fact that this
        <strong>arduous</strong> job was almost complete.</p>

      <p style="color:#000000;">Which analogical statement below correctly illustrates the relationship between
        <strong>onerous</strong> and
        <strong>arduous</strong>?</p>
    </div>
    <form id="sampleAssessment-form3" class="list">
      <ion-radio id="sampleAssessment-radio1">A. Onerous is to arduous as considerate is to pensive.</ion-radio>
      <ion-radio id="sampleAssessment-radio2">B. Onerous is to arduous as adequate is to acceptable. </ion-radio>
      <ion-radio id="sampleAssessment-radio3">C. Onerous is to arduous as eager is to disinterested.</ion-radio>
      <ion-radio id="sampleAssessment-radio4">D. Onerous is to arduous as patient is to hurried.</ion-radio>
    </form>
    <a ui-sref="menu.subjectList" id="sampleAssessment-button4" class="button button-positive  button-block">Submit</a>
  </ion-content>
</ion-view>