<ion-view title="Settings" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list7">
      <ion-item class="item-icon-right" id="settings-list-item32">Setting 1
        <i class="icon ion-android-settings"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="settings-list-item33">Setting 2
        <i class="icon ion-android-settings"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="settings-list-item34">Setting 3
        <i class="icon ion-android-settings"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>