<ion-view title="Sign Up" id="page2">
  <ion-content padding="true" style="background: url(img/OlatV2fyS4WqrTobJIaf_kibanguschool_tanzania-1.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <form id="signUp-form2" class="list">
      <div class="spacer" style="height: 100px;"></div>
      <ion-list id="signUp-list2">
        <label class="item item-input" id="signUp-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signUp-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signUp-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="signIn" id="signUp-button3" class="button button-stable  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>