<ion-view title="Subject List" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="subjectList-list5">
      <ion-item class="item-thumbnail-left" id="subjectList-list-item18" ui-sref="sampleEnglish">
        <img src="img/iBdjplISGOSRvL93C6M5_biology.jpg">
        <h2>Biology</h2>
        <p style="white-space:normal;">the study of living organisms, divided into many specializations...</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="subjectList-list-item19" ui-sref="sampleEnglish">
        <img src="img/YoldRbHBRJCatYEw2S0F_chemistry.jpg">
        <h2>Chemistry</h2>
        <p style="white-space:normal;">the branch of science concerned with the substances...</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="subjectList-list-item22" ui-sref="sampleEnglish">
        <img src="img/MG3nuIzSO8L2hvKqcGg0_english.jpg">
        <h2>English</h2>
        <p style="white-space:normal;">the language of England, now widely used...</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="subjectList-list-item20" ui-sref="sampleEnglish">
        <img src="img/Ki7yNgkTdm6IYVDZz5sQ_mathematics.jpg">
        <h2>Mathematics</h2>
        <p style="white-space:normal;">the abstract science of numbers, quantity, and space...</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="subjectList-list-item21" ui-sref="sampleEnglish">
        <img src="img/mn2HqwVTPWkZTcSzGEIA_physics.jpg">
        <h2>Physics</h2>
        <p style="white-space:normal;">the branch of science concerned with the nature and properties of matter...</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>